<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <div class="help">
        <h1>To use squarecasso:</h1>
        <p>Drag and drop as many colored squares as are available to you.</p>
        <p>Double click the square int the sqare tray to change the background color of the canvas.</p>
        <p>Double click the a square on the canvas to put it back in the tray.</p>
        <p>Single click the square on the canvas to move it.</p>
    </div>
</body>