<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
    <!-- <h1><%= title %></h1> -->
    <!-- <link rel="icon" type="image/png" href="http://www.mozilla.org/favicon.ico"/> -->
  </head>
  <body>
    <% if (title) {%>
        <div class="loginFlag"><% title %></div>
    <%}%>
    <!-- <p>Welcome to <%= title %></p> -->
    <nav>
      <ul>
        <li><a href="/signin" id="signin">signin</a></li>
        <li><a href="/signup" id="signup">signup</a></li>
        <li><a href="/logout" id="logout">logout</a></li>
      </ul>    
    </nav>      
    <section class="gembox">     
      <section class="big free" id="free">0</section>                
      <section class="small free" id="gem1">0</section>
      <section class="small free" id="gem2">0</section>
      <section class="small premium" id="gem5">0</section>
      <section class="small free" id="gem3">0</section>
      <section class="small free" id="gem4">0</section>             
      <section class="small premium" id="gem6">0</section>  
      <section class="big premium" id="premium">0</section>                
      <canvas id="frame" height="350px" width="358px">Your browser does not support canvas</canvas>
      <section class="ctrl">
          <a href="#" id="resetbk">reset</a>
          <a href="/save" id="savebtn">save</a>
          <a href="#" id="postbtn">post</a>
          <a href="/help" id="help">?</a>
          
          <button id="myBtn"><% title %></button>
      </section>
  </section>
  <script type="text/javascript" src="/javascripts/bling.js"></script>
  <!-- <script type="text/javascript" src="blingdraw.js"></script> -->
  <footer></footer>
  </body>
</html>
